table{
    border: 2px solid grey;
    border-collapse: collapse;
    border-radius: 10px;
    background-color:beige;
    margin-bottom: 10px;
}
th{
    border: 1px solid grey;
}
.card{
    margin-top: 70px;
    width: 700px;
    height: 300px;

}
ul{

    list-style: none;
}
li{
    color: grey;
    font-size:18px;
    font-weight: bold;
}
td{
    color: grey;
    height: 70px;
    text-align: center;
}

li:nth-child(5){
    color: #282c34;
    font-size:24px ;
}